* {
    box-sizing: border-box;
}

:root {
    --primary: #84A59D;
    --secondary: #F5CAC3;
    --warning: #F6BD60;
    --font: #F7EDE2;
    --accents: #F28482;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: 
        url("https://pngimg.com/uploads/window/window_PNG17665.png"),
        url("https://cdn.pixabay.com/photo/2016/11/21/03/56/landscape-1844229_1280.png");
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-size: 50%;
    background-color: var(--accents); 
}

.logo {
    margin: 30px 10px;
    padding: 20px;
    background-color: var(--primary);
    font-family: "Amatic SC", cursive;
    font-size: 40px;
    text-align: left;
    width: 350px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-content: center;
    align-items: center;
    border: 0.5rem outset var(--secondary);
    outline-offset: 0.5rem;
    border-radius: 20px;
}

.notes {
    height: 50%;
    width: 20%;
    margin: 20px;
    padding: 0 20px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
    font-family: 'Roboto Mono', monospace; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal;
    border: 0.5rem outset var(--primary);
    outline-offset: 0.5rem;
    border-radius: 20px;
}

.actions {
    /* height: 400px; */
    /* width: 80%;
    height: 12%; */
    position: absolute;
    left: 78%;
    top: 20%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* background-color: var(--secondary); */
}

.buttons {
    list-style-type: none;
    justify-self: center;
    align-items: center;
}

.button {
    margin: 30px;
    padding: 20px;
    border: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font); 
    font-size: 21px; 
    line-height: 21px; 
    border-radius: 31px; 
    font-family: 'Roboto Mono', monospace; 
    font-weight: bolder; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, var(--primary) 0%, var(--primary) 50%, var(--primary) 100%); 
    box-shadow: var(--font) 0 0 15px 15px; 
    border: 2px solid rgb(123, 128, 125); 
    display: inline-block;
}

.button:active {
    background:rgb(123, 128, 125);
}

.plant {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 40%;
    top: 30%;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    position: absolute;
    left: 35%;
    top: 70%;
}

img {
    transition: all 0.2s ease-in-out;
    animation-iteration-count: 1;
}

@keyframes sway {
    20% {transform: rotate(5deg);}
    40% {transform: rotate(-5deg);}
    60% {transform: rotate(5deg);}
    80% {transform: rotate(-5deg);}
    100% {transform: rotate(0);}
}


.progress-bars {
    width: 80%;
    height: 12%;
    position: absolute;
    left: 10%;
    top: 85%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--secondary);
    font-family: 'Roboto Mono', monospace; 
    font-size: 20px;
    font-weight: 700; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    border: 0.5rem outset var(--primary);
    outline-offset: 0.5rem;
    border-radius: 20px;
}

.growth {
    display: flex;
    flex-direction: row;
}

.life-meters {
    display: flex;
    flex-direction: row;
}